tmp/*
monitoring-*/manifests/*.yaml
monitoring-*/manifests/*/*.yaml
monitoring-*/manifests/*/*/*.yaml
config.yaml

.idea
./kind
diff

!monitoring-satellite/manifests/grafana/*
!monitoring-satellite/manifests/kubescape/*
