tmp/*
monitoring-*/manifests/*.yaml
monitoring-*/manifests/*/*.yaml
monitoring-*/manifests/*/*/*.yaml
config.yaml

.idea
./kind
diff

!monitoring-satellite/manifests/grafana/*
!monitoring-satellite/manifests/probers/*
!monitoring-satellite/manifests/kube-prometheus-rules/*
!monitoring-satellite/manifests/crds/*

*.tar.gz*
obs-installer
