alerting:
  genericSlackChannel: "#generic_alerts"
  slackOAuthToken: "fake-token"
  pagerdutyRoutingKey: "fake-pd-key"
  teamRoutes:
  - teamLabel: platform
    slackChannel: "#team_platform_alerts"
  - teamLabel: newTeam
    slackChannel: "#newTeam_channel"
certmanager:
  installServiceMonitors: false
gitpod:
  installServiceMonitors: true
grafana:
  install: true
kubescape:
  install: true
namespace: monitoring-satellite
prometheus:
  metricsToDrop: ["apiserver_request_duration_seconds_bucket", "apiserver_request_slo_duration_seconds_bucket"]
  remoteWrite:
  - password: password
    url: https://example.com
    username: user
  resources: {}
pyrra:
  install: true
tracing:
  install: true
  honeycombDataset: "fake-dataset"
  honeycombAPIKey: "fake-key"
  extraSpanAttributes:
    preview: test
    exampleKey: exampleValue
werft:
  installServiceMonitors: false
imports:
  yaml:
    - path: ../monitoring-satellite/manifests/kube-prometheus-rules
    - gitURL: https://github.com/gitpod-io/observability
      path: monitoring-satellite/manifests/probers
