alerting:
  genericSlackChannel: "#generic_alerts"
  slackOAuthToken: "fake-token"
certmanager:
  installServiceMonitors: false
gitpod:
  installServiceMonitors: true
grafana:
  install: true
kubescape:
  install: true
namespace: monitoring-satellite
prometheus:
  remoteWrite:
  - password: password
    url: https://example.com
    username: user
  resources: {}
pyrra:
  install: true
tracing:
  install: true
  honeycombDataset: "fake-dataset"
  honeycombAPIKey: "fake-key"
werft:
  installServiceMonitors: false
imports:
  yaml:
    - gitURL: https://github.com/gitpod-io/observability
      path: monitoring-satellite/manifests/kube-prometheus-rules
    - gitURL: https://github.com/gitpod-io/observability
      path: monitoring-satellite/manifests/probers
