name: Release
on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  golang-version: "1.19"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
        # https://github.com/PaulHatch/semantic-version
      - id: semver
        uses: paulhatch/semantic-version@v4
        with:
          # The prefix to use to identify tags
          tag_prefix: "v"
          # A string which, if present in a git commit, indicates that a change represents a
          # major (breaking) change, supports regular expressions wrapped with '/'
          major_pattern: "(MAJOR)"
          # A string to determine the format of the version output
          format: "${major}"
          # Optional path to check for changes. If any changes are detected in the path the
          # 'changed' output will true. Enter multiple paths separated by spaces.
          # change_path: "installer/"
          # If this is set to true, *every* commit will be treated as a new version.
          bump_each_commit: false
      - uses: actions/setup-go@v2
        if: ${{steps.semver.outputs.changed}}
        with:
          go-version: ${{ env.golang-version }}
      - name: Build artifacts
        if: ${{steps.semver.outputs.changed}}
        run: VERSION=${{steps.semver.outputs.version_tag}} ./hack/build-obs-installer.sh
        # https://github.com/softprops/action-gh-release
      - uses: softprops/action-gh-release@v1
        if: ${{steps.semver.outputs.changed}}
        with:
          tag_name: ${{steps.semver.outputs.version_tag}}
          generate_release_notes: true
          fail_on_unmatched_files: true
          files: ./installer/*.tar.gz
